.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  max-height: 90vh;
  overflow: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 32px;
  cursor: pointer;
  padding: 5px;
}

.modal-event-image {
  width: auto;
  height: 300px;
  border-radius: 5px;
  margin-bottom: 10px;
  object-fit: contain;
}

.event-heading {
  margin-top: 20px;
  margin-bottom: 20px;
}

.event-date,
.event-location {
  margin-bottom: 5px;
}

.event-description {
  white-space: pre-wrap;
}

.event-more-info {
  padding-top:5px;
  padding-bottom:5px;
  text-indent: 4em;
  text-align: justify;
}
/*.event-images {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.event-image {
  width: calc(33.333% - 10px);
  margin-bottom: 10px;
  border-radius: 5px;
  object-fit: cover;
}*/
.event-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.event-image {
  width: auto;
  height: 300px;
  border-radius: 20px;
  padding: 10px;
  object-fit: cover;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 123, 255, 0.3);
  transition: transform 1s ease-in-out;
}

.event-image:hover {
  transform: scale(1.1);
}
