.header {
  position: fixed;
  height: 90px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.3s ease-in;
  overflow: hidden;
}

.header .navbar img {
  margin: 4px 0px 4px 0px;
  height: 79px;
  transition: all 0.5s ease;
}
.header .navbar img :hover {
  height: 90px;
}
.header-bg {
  /* background-color: rgb(33, 36, 135, 0.95);; */
  background-color: #0369a0;
  /* background-color: #00aeef; */
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: auto;
  height: 100%;
  padding: 0 1rem;
}

.header .nav-menu a {
  color: #ffffff;
  text-decoration: none;
}
.header .nav-menu {
  display: flex;
}

.header .nav-item {
  padding: 2px 1.5rem;
  font-weight: 500;
  text-decoration: none;
  /* border: 2px solid red; */
}
.header .nav-item:hover {
  background-color: rgba(255, 137, 3, 0.95);
  border-radius: 2px;
  box-shadow: rgba(255, 137, 3, 0.95);
}

.header .nav-item a:hover {
  padding-bottom: 12px;
  color: white;
  font-weight: bold;
  /* background-color: rgba(255, 142, 12, 0.95); */
}

.hamburger {
  display: none;
}
.header .navbar ul {
  list-style-type: none;
}

@media screen and (max-width: 940px) {
  .header {
    max-width: 100%;
    height: 90px;
    background-color: #0369a0;
  }

  .header .navbar {
    max-width: 100%;
  }

  .hamburger {
    display: block;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 90px;
    flex-direction: column;
    background-color: #0369a0;
    width: 50%;
    height: 70vh;
    z-index: 999;
    text-align: center;
    transition: 0.3s;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 0.5rem 0;
    margin-left: 1rem;
    width: fit-content;
  }
}
