.announcement {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}

.announce-heading {
  height: 101px;
  color: #0369a0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inika;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 30%;
}

@media screen and (max-width: 768px) {
  .announce-heading {
    margin-left: 0;
    text-align: center;
  }
}

.announcement-container {
  width: 100%;
  border: 2px solid #0369a0;
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
  max-height: 400px;
  overflow-y: auto;
}

.announcement-container::-webkit-scrollbar {
  width: 10px;
}

.announcement-container::-webkit-scrollbar-thumb {
  background-color: #0369a0;
  border-radius: 10px;
}

.announcement-container::-webkit-scrollbar-track {
  background-color: #f0f2f5;
}

.announcement-card {
  border-bottom: 1px solid #0369a0;
}
