/* Updated CSS for notice.js */

.notice-container {
  width: 100%;
  overflow: hidden;
}

.notice {
  width: 100%;
  border-radius: 20px;
  background: var(--blue100); /* Changed background color to blue100 */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.notice:last-child {
  margin-bottom: 20px;
}

.notice-text {
  flex: 1;
  color: var(--darkPurple); /* Changed text color to darkPurple */
  font-family: "Inknut Antiqua", sans-serif;
  font-size: 18px;
  line-height: 1.4;
  margin-left: 20px;
}

.announcement-date {
  color: #666666;
  font-size: 16px;
}

.star {
  display: flex;
  align-items: center;
}

.new-label {
  display: flex;
  align-items: center;
  gap: 5px;
  color: red;
  font-weight: lighter;
}

.new-announcement {
  background: var(--blue100); /* Changed background color to blue100 */
  border-radius: 20px;
  box-shadow: -7px 0px 8px rgba(54, 152, 219, 0.3);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.new-announcement:hover {
  transform: translateY(-5px);
  box-shadow: -7px 0px 8px rgba(54, 152, 219, 1);
}

.new-announcement2 {
  background: var(--blue100); /* Changed background color to blue100 */
  border-radius: 20px;
  box-shadow: -7px 0px 8px rgba(54, 152, 219, 0.3);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.new-announcement2:hover {
  transform: translateY(-5px);
  box-shadow: -7px 0px 8px rgba(54, 152, 219, 1);
}

.notice + .notice {
  border-top: 1px solid var(--accent); /* Changed border color to accent */
}
